.greetingForm {
    font-family: 'Montserrat', sans-serif;
}

.inputAndButtonContainer {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.error {
    margin: 10px 0;
    font-weight: 400;
    font-size: 14px;
    color: #c00;
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    color: #000;
    padding-left: 10px ;
}

.input:focus {
    border: none;
}

.errorInput {
    border: 1px solid #c00;
}

.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    background: #06c;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    border: none;
}

.button:focus {
    border: 1px solid #000000;
}

.button:active {
    background: #06c;
    opacity: 0.5;
}

.button:disabled {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    background: #06c;
    opacity: 0.5;
}

.text {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}
